{% extends 'accounts/master.html' %}

{% block title %}{{otheruser.username}}{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    {% if not otheruser.is_staff or user.is_staff %}
    <h1>{{otheruser.username}}</h1>
    <p>Birthdate: {{otheruser.birth_date}}</p>
        {% if user.username != otheruser.username %}
            <p>bio: {{otheruser.bio}}</p>
            <p>Location: {{otheruser.location}}</p>
            {% if not is_friend %}
                {%url 'friend-request' otheruser.username as the_url%}
                <a href={{the_url}}> Send friend request </a><br>
            {% endif %}
        {% else %}
        <form action="." method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type='submit' value='Update' /><br>
            <h4>friends:</h4>
            {% for friend in user.friends.all %}
                {%url 'profile' friend as the_url%} 
                <p><a href={{the_url}}> {{friend}} </a><br></p> 
            {% endfor %}           
        {% endif %}
        <a href="{% url 'home' %}">Return to homepage </a>
    {%else%}
            <p>You are not authorized to view this page.</p>
    {% endif %}

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}